body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: green;
}

/*menú superior*/
.navbar, .clases-menu {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.navbar a, .clases-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover, .clases-menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clase {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.clase a {
    color: blue;
    text-decoration: underline;
}



.navbar {
    background-color: #333;  /* Color de fondo */
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;  /* Color del texto */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #555; /* Cambio de color al pasar el mouse */
    border-radius: 5px;
}


.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}