body {
    background-color: green;
    font-family: Arial, sans-serif;
}


/*menú superior*/
.navbar, .clases-menu {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.navbar a, .clases-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover, .clases-menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clase {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.clase a {
    color: blue;
    text-decoration: underline;
}



.navbar {
    background-color: #333;  /* Color de fondo */
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;  /* Color del texto */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #555; /* Cambio de color al pasar el mouse */
    border-radius: 5px;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.content, .list {
    margin-bottom: 15px;
}

.image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}